.navbar {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  background-color: rgb(125, 240, 255);
  .menu {
    width: 40px;
    height: 40px;
    align-self: center;
    z-index: 10;
  }

  .title__logo {
    font-size: 27px;
    color: rgb(255, 49, 35);
  }
}
.informacion {
  text-align: center;
  .info1 {
    color: darkblue;
  }
  .info2 {
    color: rgb(73, 79, 0);
  }
  ol {
    text-align: left;
  }
}

.container__menu {
  background-color: #ffe438;
  position: fixed;
  width: 70%;
  height: 80%;
  top: 0;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 3px 13px 1px #000000;
  transition: opacity 1s linear;
  opacity: 0%;
  }
    .lista{
      text-align: center;
      font-size: 25px;
      padding: 0;
      padding: 10px 0px;
      li{
        margin: 20px 0;
        margin-top: 30px;
        border-bottom: 1px solid;
      }
    }
    li:hover{
        background-color: aqua;
    }
.container__menu1 {
    background-color: #ffe438;
  position: fixed;
  width: 70%;
  height: 80%;
  top: 0;
  border-radius: 8px;
  border: none;
  opacity: 100%;
  box-shadow: 2px 3px 13px 1px #000000;
  transition: opacity 1s linear;
  z-index: 11;
}
